{{> header}}
<body class="body-3">
    <div class="page-wrapper">
        <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
            data-doc-height="1" role="banner" class="navigation container margin-top-40 w-nav">
            {{> nav}}
        </div>
        <div class="w-layout-blockcontainer top-header-color top-header-solid w-container"></div>
        <div class="section cc-store-home-wrap governance-section"></div>
        <section class="section">
            <div id="vidburdir" class="container">
                <p class="smallest-heading">MARKMIÐ SAMTAKANNA</p>
                <div class="div-block yellow-border-block">
                    <p class="text-block small-text-bloc bold-text-block"><strong class="bold-text-2">Samtök um mannvæna
                            tækni beita sér fyrir því að hönnun, þróun, og notkun tækni sé í samhljóm við
                            grundvallarhagsmuni einstaklinga, náttúru og samfélags. Við fögnum þróun nýrrar tækni en
                            krefjumst þess að leiðarljósið sé ávallt langtímavelferð fremur en skammtímahagnaður, og að
                            einkahagsmunir víki fyrir almennri vellíðan og heilbrigði.</strong></p>
                </div>
                <h1 class="section-heading margin-top-50">Grunnstefna<br /></h1>
                <div data-record-id="6f3450c4-3870-3482-960c-26b6ee307e7a" data-copilot="true" class="section-2">
                    <div class="container">
                        <div id="w-node-_9c515260-0566-0bd1-e728-3a437c4a5e47-fab27a00"
                            class="w-layout-grid grid-layout desktop-2-column tablet-2-column mobile-landscape-1-column grid-gap-m">
                            <div>
                                <h4 class="business-article-heading heading-jumbo-tiny">1<br /></h4>
                                <p class="text-block text-block-lighter">Við setjum <span
                                        class="text-block-yellow"><strong>andlega og líkamlega heilsu í forgang og
                                            leggjum áherslu á að lágmarka skaða</strong></span>. Þetta felur í sér að
                                    tryggja að tækni sé þróuð og notuð á hátt sem styður vellíðan notenda. Við hvetjum
                                    til þróunar og notkunar lausna sem eru ekki háðar auglýsingum, hámarksnýtingu á
                                    athygli notenda og söfnunar gagna um notendur til hagnaðar. Við hvetjum til
                                    reglugerða sem takmarka útsetningu fyrir skaðlegu stafrænu efni, svo sem
                                    ávanabindandi hönnun, rangfærslum og neteinelti. Við miðum að því að fræða almenning
                                    um áhrif tækni á andlega heilsu og vekja athygli á tækni sem hefur neikvæð áhrif.
                                </p>
                            </div>
                            <div>
                                <h4 class="business-article-heading heading-jumbo-tiny">2</h4>
                                <p class="text-block text-block-lighter text-block-yellow">Við stuðlum að <span><strong
                                            class="text-block-yellow">heilbrigðum og réttlátum
                                            upplýsingakerfum</strong></span> með því að skapa stafrænt umhverfi þar sem
                                    upplýsingar eru áreiðanlegar, aðgengilegar og sanngjarnar. Við styðjum frumkvæði sem
                                    berst gegn rangfærslum, auðveldar það að rekja uppruna upplýsinga og eykur stafrænt
                                    læsi. Að auki krefjumst við gegnsæis í reikniritum sem safna og dreifa upplýsingum,
                                    auk þess sem við vinnum með fjölmiðla- og tæknifyrirtækjum til að tryggja sanngjarna
                                    birtingu og aðgang að upplýsingum fyrir alla samfélagshópa. Við hvetjum til
                                    lýðræðislegra ferla til að stjórna sameiginlegum upplýsingasvæðum okkar, frekar en
                                    að leyfa hagnaðardrifnum aðilum að setja reglurnar um hvernig við deilum
                                    upplýsingum.</p>
                            </div>
                            <div>
                                <h4 class="business-article-heading heading-jumbo-tiny">3<br /></h4>
                                <p class="text-block text-block-lighter"><span class="text-block-yellow"><strong>Að
                                            virða rétt notenda til friðhelgi og fylgja siðferðilegum
                                            stöðlum</strong></span> í tækni er lykilatriði fyrir okkur. Við þróum og
                                    stuðlum að meginreglum um friðhelgi í hönnun tækni og hvetjum til strangra reglna um
                                    gagnavernd og ábyrga starfshætti við notkun gagna. Við leggjum áherslu á að fræða
                                    notendur um réttindi sín varðandi friðhelgi og hvernig þeir geta verndað
                                    persónulegar upplýsingar sínar.</p>
                            </div>
                            <div>
                                <h4 class="business-article-heading heading-jumbo-tiny">4<br /></h4>
                                <p class="text-block text-block-lighter">Við leggjum áherslu á að <span
                                        class="text-block-yellow"><strong>minnka langtímaáhættur af skaðlegri tækni og
                                            vernda komandi kynslóðir gegn neikvæðum áhrifum
                                            hennar.</strong></span><strong> </strong>Við hvetjum til varúðarráðstafana
                                    og reglugerða um tækni sem gæti valdið skaða til frambúðar, svo sem gervigreind,
                                    óendanleg tillöguforrit og erfðatækni. Við tökum þátt í opinberri umræðu um
                                    siðferðilegar afleiðingar framtíðartækni til að tryggja vernd komandi kynslóða.</p>
                            </div>
                            <div>
                                <h4 class="business-article-heading heading-jumbo-tiny">5<br /></h4>
                                <p class="text-block text-block-lighter">Við skoðum <span
                                        class="text-block-yellow"><strong>áhrif tækni á náttúru og
                                            umhverfi</strong></span> og stuðlum að umhverfisvænni tækniþróun. Við
                                    viðurkennum að áhrif ómannúðlegrar tækni nái einnig til dýra- og plönturíkisins. Við
                                    styðjum því umhverfisvæna tæknihætti og notkun endurnýjanlegra auðlinda, hvetjum til
                                    að draga úr rafrænum úrgangi með endurvinnslu og sjálfbærri hönnun, og styðjum tækni
                                    sem tekur á umhverfisáskorunum, svo sem loftslagsbreytingum og tap á líffræðilegum
                                    fjölbreytileika.</p>
                            </div>
                            <div>
                                <h4 class="business-article-heading heading-jumbo-tiny">6<br /></h4>
                                <p class="text-block text-block-lighter">Við <span
                                        class="text-block-yellow"><strong>stuðlum að þátttöku, réttlæti og jafnræði
                                            fyrir alla</strong></span> með því að vinna að því að brúa stafrænu gjána og
                                    tryggja aðgengi að tækni fyrir þá sem standa höllum fæti. Við hvetjum til
                                    inngildandi hönnunar sem tekur mið af þörfum allra notenda, þar á meðal þeirra sem
                                    eru með fatlanir, og styðjum stefnur og starfshætti sem tryggja réttláta þátttöku í
                                    stafrænu hagkerfi.</p>
                            </div>
                            <div>
                                <h4 class="business-article-heading heading-jumbo-tiny">7<br /></h4>
                                <p class="text-block text-block-lighter">Við styðjum <span
                                        class="text-block-yellow"><strong>gegnsæja lýðræðislega ferla og aðgengi að
                                            gögnum</strong></span> með því að hvetja til opinna stjórnsýslugagna, auk
                                    þess sem við leggjum áherslu á að nota tækni til að auka borgaralega þátttöku. Við
                                    styðjum þróun tæknilausna sem auka gegnsæi í stjórnsýslu- og ákvarðanatökuferlum og
                                    ræðum notkun fjölþættrar tækni til að tryggja heiðarleika lýðræðislegra ferla.</p>
                            </div>
                            <div>
                                <h4 class="business-article-heading heading-jumbo-tiny">8<br /></h4>
                                <p class="text-block text-block-lighter">Við styðjum <span><strong
                                            class="text-block-yellow">skapandi tjáningu og frelsi til
                                            sjálfsmyndar</strong></span> í gegnum tækni. Við hvetjum til stefnumyndunnar
                                    sem verndar málfrelsi og tjáningarfrelsi á netinu og styðjum vettvanga og
                                    tækninýjungar sem gera það kleift að tjá sköpunargáfu og deila fjölbreyttum
                                    menningarlegum sjónarmiðum. Við vinnum gegn ritskoðun og styðjum rétt einstaklinga
                                    til að tjá sjálfsmynd sína frjálslega á stafrænum vettvangi. Við viðurkennum
                                    tilhneigingu til myndunar bergmálshella í stafrænum rýmum, og vinnum að því að
                                    hámarka fjölbreytni fremur en að ýta undir skautun.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-layout-blockcontainer container-3 w-container"></div>
            </div>
        </section>
        <section class="container"></section>
        <div class="section">
            <div class="container">
                <div class="footer-wrap">
                    <p class="paragraph-2">Samtök um mannvæna tækni (kt. 6205240690)</p>
                    <p class="footer-link"><a href="mailto:hallo@mannvaen.is" class="link-3">hallo@mannvaen.is</a></p>
                    <p class="footer-link"><a href="https://facebook.com/mannvaen" target="_blank"
                            class="link-3">Facebook síða</a></p>
                    <p class="footer-link"><a
                            href="https://join.slack.com/t/mannvaen/shared_invite/zt-2cdul4gdy-SEL8rxuKOIg2jdS~eTUTuA"
                            target="_blank" class="link-3">Slack rás</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/webflow.schunk.02e5214ae639960c.js" type="text/javascript"></script>
    <script src="js/webflow-script-1.js" type="text/javascript"></script>
</body>
