<nav class="navigation-wrap"><a href="/" class="logo-link w-nav-brand"><img src="{{asset "images/isht.png" }}"
            loading="eager" width="15" height="15" alt="" class="image" />
        <div class="navigation-logo">Samtök um mannvæna tækni</div>
    </a>
    <div class="menu">
        <nav role="navigation" class="navigation-items w-nav-menu"><a href="https://www.mannvaen.is/#malefni"
                class="navigation-item-copy w-nav-link">MÁLEFNI</a><a href="https://www.mannvaen.is/#vidburdir"
                class="navigation-item w-nav-link">VIÐBURÐIR</a><a href="/grunnstefna" aria-current="page"
                class="navigation-item-copy w-nav-link w--current">GRUNNSTEFNA</a><a
                href="https://www.mannvaen.is/#email-form" class="navigation-item w-nav-link">VERTU MEÐ</a>
        </nav>
        <div class="menu-button w-nav-button"><img src="{{asset "images/menu-icon-png-1.webp" }}" width="30" alt=""
                class="menu-icon" /></div>
    </div>
</nav>