{{#post}}
    <article>
        <h1>{{title}}</h1>
        <h2>{{authors limit="1" autolink="false"}}</h2>
        {{content}}

        {{#has tag="template-one"}}
            <p>This is a special template for posts tagged with "template-one".</p>
        {{/has}}

        {{#has tag="template-two"}}
            <p>This is a special template for posts tagged with "template-two".</p>
            <p>You can even put in forms and stuff</p>
            <form>
                <label for="input">Input:</label>
                <input type="text" id="input" name="input">
                <button type="submit">Submit</button>
            </form>
            {{> sample}}
        {{/has}}
    </article>
{{/post}}
